<div class="container">
  <div class="file-upload">
    <input type="file" (change)="onFileSelected($event, 'pdfToTextWithOCR')" id="file-upload-socgen">
    <label for="file-upload-socgen">
      <img src="assets/societe-generale-logo_2.png" alt="Société Générale">
    </label>
  </div>

  <div class="file-upload">
    <input type="file" (change)="onFileSelected($event, 'OCRUGB')" id="file-upload-ugb">
    <label for="file-upload-ugb">
      <img src="../../../assets/UGB.png" alt="UGB">
    </label>
  </div>

  <div class="file-upload">
    <input type="file" (change)="onFileSelected($event, 'uploadGCA')" id="file-upload-gca">
    <label for="file-upload-gca">
      <img src="assets/GCALOGO.png" alt="GCA">
    </label>
  </div>
</div>

<div class="file-upload">
  <input type="file" (change)="onFileSelected($event, 'OCRBP')" id="file-upload-bp"> <!-- Ensure this matches -->
  <label for="file-upload-bp">
      <img src="" alt="BP">
  </label>
</div>
<!--


    <div class="file-upload">
      <input type="file" (change)="onFileSelected($event)" id="file-upload-upload">
      <label for="file-upload-upload">
        <img src="assets\1200px-Logo_Banque_de_France.svg.png" alt="Upload">
      </label>
    </div>

    <div class="file-upload">
      <input type="file" (change)="onFileSelected($event)" id="file-upload-upload">
      <label for="file-upload-upload">
        <img src="assets\65540c27-24ed-48a9-bf94-601c3fc834e741.png" alt="Upload">
      </label>
    </div>

    <div class="file-upload">
      <input type="file" (change)="onFileSelected($event)" id="file-upload-upload">
      <label for="file-upload-upload">
        <img src="assets\20466800-diaporama.png" alt="Upload">
      </label>
    </div>

    <div class="file-upload">
      <input type="file" (change)="onFileSelected($event)" id="file-upload-upload">
      <label for="file-upload-upload">
        <img src="assets\Credit-Mutuel.jpg" alt="Upload">
      </label>
    </div>

  <div class="file-upload">
    <input type="file" (change)="onFileSelected($event)" id="file-upload-upload">
    <label for="file-upload-upload">
      <img src="assets\CL.jpg" alt="Upload">
    </label>
  </div>
  </div>-->
