
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
  }

  .file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .file-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .file-upload img {
    width: 100%;
    height: auto;
  }

