<div class="card my-5">
  <div class="card-body">
    <div class="card my-5">

    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">DateValeur</th>
          <th scope="col">Libelle</th>

          <th scope="col">Montant</th>
          <th scope="col">Type</th>
          <th scope="col">Solde</th>
          <th scope="col">Proof</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rawOperation of rawOperations">
          <td>{{ rawOperation.id }}</td>
          <td>{{ rawOperation.date }}</td>
          <td>{{ rawOperation.dateValeur }}</td>
          <td>{{ rawOperation.libelle }}</td>
          <td>{{ rawOperation.montant }}</td>
          <td>{{ rawOperation.type }}</td>
          <td>{{ rawOperation.solde }}</td>
          <td><i class="fa-solid fa-xmark" *ngIf="rawOperation.justificatif===null"></i> </td>
<!--          <td>{{ rawOperation.justificatif }}</td>-->
        </tr>
      </tbody>
    </table>
  </div>

</div>
